python-telegram-bot==20.7
aiohttp==3.9.5
aiofiles==23.2.1
requests==2.31.0
pymongo==4.7.1
dnspython==2.6.1
pytz==2024.1
ffmpeg-python==0.2.0
m3u8==3.6.0
cloudscraper==1.2.71
yt-dlp==2024.5.27
tgcrypto==1.2.5
beautifulsoup4==4.12.3
pytube==15.0.0
pyrogram==2.0.106
pyromod==2.1
pycryptodome==3.20.0
colorama==0.4.6
typing_extensions==4.11.0
certifi==2024.6.2
